{% extends 'core/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block bg %}bg-cast{% endblock bg %}
{% block content %}
<div class="container">
    <div class="row text-center pt-5">
        <div class="alert alert-secondary h2" role="alert">
            About the Team Integrated Mind Heart
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 pb-5 mt-2 justify-content-center">
        <div class="col">
            <div class="card h-100 border text-white text-center">
                <img src="{% static 'core/images/satyam.jpeg' %}" class="card-img-top" alt="satyam_seth">
                <div class="card-body trans2">
                    <h3 class="card-title">Satyam Seth</h3>
                    <h4>Data Collection, Creating API, Backend, Deployment</h4>
                    <p class="card-text">
                        <a href="mailto:satyam1998.1998@gmail.com" target="_blank">
                            <i class="fas fa-envelope fa-2x mr-2 text-light"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/satyam-seth-39069b17a" target="_blank">
                            <i class="fab fa-linkedin fa-2x mx-2 text-light"></i>
                        </a>
                        <a href="https://github.com/satyam-seth" target="_blank">
                            <i class="fab fa-github fa-2x ml-2 text-light"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border text-white text-center">
                <img src="{% static 'core/images/ankit.jpg' %}" class="card-img-top" alt="ankit_kumar_gupta">
                <div class="card-body trans2">
                    <h3 class="card-title">Ankit Kumar Gupta</h3>
                    <h4>Creating Recommendation and Sentiment Snalysis ML models</h4>
                    <p class="card-text">
                        <a href="mailto:ankitgupta6564@gmail.com" target="_blank">
                            <i class="fas fa-envelope fa-2x mr-2 text-light"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ankit-gupta-02376b179" target="_blank">
                            <i class="fab fa-linkedin fa-2x mx-2 text-light"></i>
                        </a>
                        <a href="https://github.com/ankit700771" target="_blank">
                            <i class="fab fa-github fa-2x ml-2 text-light"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border text-white text-center">
                <img src="{% static 'core/images/alisha.png' %}" class="card-img-top" alt="alisha_parveen">
                <div class="card-body trans2">
                    <h3 class="card-title">Alisha Parveen</h3>
                    <h4>Frontend and Project Documentation</h4>
                    <p class="card-text">
                        <a href="mailto:alishakhan1999@gmail.com" target="_blank">
                            <i class="fas fa-envelope fa-2x mr-2 text-light"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/alisha-parveen-" target="_blank">
                            <i class="fab fa-linkedin fa-2x mx-2 text-light"></i>
                        </a>
                        <a href="https://github.com/shali-lalee" target="_blank">
                            <i class="fab fa-github fa-2x ml-2 text-light"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border text-white text-center">
                <img src="{% static 'core/images/harshit.jpg' %}" class="card-img-top" alt="harshit_dixit">
                <div class="card-body trans2">
                    <h3 class="card-title">Harshit Dixit</h3>
                    <h4>Frontend</h4>
                    <p class="card-text">
                        <a href="mailto:harshitdixit65@gmail.com" target="_blank">
                            <i class="fas fa-envelope fa-2x mr-2 text-light"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/harshit-dixit-38b27a149" target="_blank">
                            <i class="fab fa-linkedin fa-2x mx-2 text-light"></i>
                        </a>
                        <a href="https://github.com/harshitdixit69" target="_blank">
                            <i class="fab fa-github fa-2x ml-2 text-light"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border text-white text-center">
                <img src="{% static 'core/images/abhishek.jpg' %}" class="card-img-top" alt="abhishek_kumar_yadav">
                <div class="card-body trans2">
                    <h3 class="card-title">Abhishek Kumar Yadav</h3>
                    <h4>Project Testing</h4>
                    <p class="card-text">
                        <a href="mailto:abhi991926@gmail.com" target="_blank">
                            <i class="fas fa-envelope fa-2x mr-2 text-light"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/abhishek-kumar-yadav-780262194" target="_blank">
                            <i class="fab fa-linkedin fa-2x mx-2 text-light"></i>
                        </a>
                        <a href="https://github.com/Abhishek991926" target="_blank">
                            <i class="fab fa-github fa-2x ml-2 text-light"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}