<footer class="page-footer font-small ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mt-3">
                <form class="form-inline">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
            </div>
            <div class="col-md-6 mb-4 mt-3">

                <form class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Your email"
                        aria-label="Your email" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h3 class="text-uppercase font-weight-bold ">
                    <a href="about.html">About us</a>
                </h3>
            </div>
            <div class="col-md-2 mb-3">
                <h3 class="text-uppercase font-weight-bold">
                    <a href="contact.html">Contact Us</a>
                </h3>
            </div>
            <div class="col-md-2 mb-3">
                <h3 class="text-uppercase font-weight-bold">
                    <a href="joinus.html">Join Us</a>
                </h3>
            </div>
            <div class="col-md-2 mb-3">
                <h3 class="text-uppercase font-weight-bold">
                    <a href="#!">Help</a>
                </h3>
            </div>
            <div class="col-md-2 mb-3">
                <h3 class="text-uppercase font-weight-bold">
                    <a href="#!">Contact</a>
                </h3>
            </div>
        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">
        <div class="	row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                    quae consectetur nulla officiis sapiente! Reiciendis, harum, quo velit, explicabo laudantium
                    obcaecati saepe sunt odit atque ea eos optio blanditiis. Aperiam..</p>
            </div>
        </div>
        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
        <div class="col-md-12 py-2">
            <div class="mb-5 flex-center">
                <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="gplus-ic">
                    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="li-ic">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <a class="pin-ic">
                    <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                </a>
            </div>
        </div>

    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> RHM.com</a>
    </div>
</footer>