<footer class="container-fluid p-0">
    <div class="bg-dark text-center p-1 text-white">
        <div>
            <a href="https://youtu.be/3-Ko3rMPN38" target="_blank">
                <i class="fab fa-youtube fa-2x m-1 text-white"></i>
            </a>
            <a href="https://github.com/IntegratedMindHeart" target="_blank">
                <i class="fab fa-github fa-2x m-1 text-white"></i>
            </a>
            <a href="https://www.linkedin.com/posts/satyam-seth-39069b17a_project-red-mind-a-movie-recommendation-activity-6834163961315823616-uTFi" target="_blank">
                <i class="fab fa-linkedin fa-2x m-1 text-white"></i>
            </a>
        </div>
        <p>Copyright &#169; 2020-21 Team Integrated Mind Heart</p>
    </div>
</footer>
