<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Red Mind</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Enter movie name">
        <input type="submit" value="submit">
    </form>
    {% if movie_title %}
        <h1>Title: {{movie_title}}</h1>
        <h1>Tagline: {{tagline}}</h1>
        <h1>Overview: {{overview}}</h1>
        <h1>Rating: {{rating}}/10 ({{vote_count}} votes)</h1>
        <h1>Genres:
            {% for genre in genre_list %}
                {{genre}}, 
            {% endfor %}</h1>
        <h1>Release Date: {{release_date}}</h1>
        <h1>Runtime: {{runtime}} minuts</h1>
        <h1>Status: {{status}}</h1>
        <h1>Similar Movies: {{similar_movies}}</h1>
        <img width="200px" src={{poster}}>
        <hr>
        <h1>Casts</h1>
        {% if casts %}
            {% for cast in casts %}
            Origanal Name:{{cast.original_name}}
            Character:{{cast.character}}
            <img width="100" src="{{cast.image}}">
            <a href="{% url 'cast' cast.cast_id %}">Details</a>
            {% endfor %}
        {% endif %}
        <hr>
        <h1>Similar Movies</h1>
        {% if movie_posters %}
            {% for movie,poster in movie_posters %}
                {{movie}}
                <img width="200px" src={{poster}}>
                <hr>
            {% endfor %}
        {% else %}
            <h2>Some thing went worng</h2>
        {% endif %}
    {% elif sorry %}
        <h1>{{sorry}}</h1>
    {% endif %}
</body>
</html>