<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="title">
        <input type="submit" value="submit">
    </form>
    {% if movie_title %}
        <h1>Title: {{movie_title}}</h1>
        <h1>Overview: {{overview}}</h1>
        <h1>Rating: {{rating}}/10 ({{vote_count}} votes)</h1>
        <h1>Genres:
            {% for genre in genre_list %}
                {{genre}}, 
            {% endfor %}</h1>
        <h1>Release Date: {{release_date}}</h1>
        <h1>Runtime: {{runtime}} minuts</h1>
        <h1>Status: {{status}}</h1>
        <img src={{poster}}>
    {% elif sorry %}
        <h1>{{sorry}}</h1>
    {% endif %}
</body>
</html>