<nav class="navbar bg-primary navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand text-white" href="#">Project Red Mind</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mx-2">
                    <a class="nav-link text-white" href="#">Home</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white" href="#">About</a>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="http://example.com"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"> Services </a>
                    <ul class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Movie Suggestion</a></li>
                        <li><a class="dropdown-item" href="#">Memoji</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                href="http://google.com">Translator</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Submenu</a></li>
                                <li><a class="dropdown-item" href="#">Submenu0</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                        href="#">Submenu 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                        <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                        href="#">Submenu 2</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                        <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>