{% load static %}
<header class="site-header">
    <div class="container">
        <a href="index.html" id="branding">
            <img src="{% static 'core/images/logo.png' %}" alt="logo" class="logo">
            <div class="logo-copy">
                <h1 class="site-title">PRM</h1>
                <small class="site-description">Honest Review Of Movies</small>
            </div>
        </a> <!-- #branding -->

        <div class="main-navigation mt-3">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item current-menu-item"><a href="#">Home</a></li>
                <li class="menu-item"><a href="#">About</a></li>
                <li class="menu-item"><a href="#">Movie reviews</a></li>
                <li class="menu-item"><a href="#">Join us</a></li>
                <li class="menu-item"><a href="#">Contact</a></li>
            </ul> <!-- .menu -->

            <form action="#" class="search-form">
                <input type="text" placeholder="Search...">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header>