.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
  font-family: "Rubik", sans-serif;
}

.trans{
  background-color: rgba(225, 0, 0, 0.3);
  /* background-color: rgb(225, 0, 0); */
}

.bg {
  /* The image used */
  background-image: url("../images/background.jpg");

  /* Full height */
  height: 100%;

  background-color: red;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}